
section.header .navbar-default{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 99999;
}
section.header .container-fluid{
    padding-left: 17%;
    background-color: #ffffff;
}
section.header .container-fluid a {
    color:black !important;
}
section.header .container-fluid a:hover {
    color: red !important;
}
section.header img{
    width:75%;
}
section.navbar {
    left: 50%;
    z-index: 9999;
}
section.header .navbar-nav {
    margin-left: 20%;
    text-transform: uppercase;
}
section.header li {
    padding-right: 35px;
}

/*Section HEADER DONE */
.rreth-nesh h1 {
    padding-top: 20%;
    text-align: center;
}
.rreth-nesh p {
    text-align: center;
    padding-top: 20px;
}
section.rreth-nesh {
    height: 100vh;
    float: left;
    width: 100%;
    background:url("img/rreth-nesh.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 52px;
}

/*Section RRETH-NESH */


section.inspiruar img{
    float:left;
    margin-left: -15px;
    width: 100%;
    padding-top: 15%;
}

section.inspiruar .col-md-6 h1 {
    margin-top: 35%;
    line-height: 3;
    margin-left: 10%;
    font-size: 26px;

}
section.inspiruar .col-md-6 p {
    line-height: 2;
    font-size: 15px;
    margin-left: 10%;
}

/*Section inspiruar */

section.none {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 8%;
    padding-bottom: 8%;
}

section.last img{
    width: 100%;
}
/*section last */
.footer .col-md-4 img {
    width: 25%;
    margin-left: 30%;
    padding-top: 20px;
}
.footer .col-md-4 p{
    padding-top: 70px;
    margin-left: 30%;
    font-size: 9px;

}
section.footer {
    background-color: #222222;
    color: white;
    padding: 30px;
}

.col-md-2 h6 {
    text-transform: uppercase;
    padding-top: 20px;

}
.col-md-2 i {
    color: #ffffff;
    margin: 4px;

}

.col-md-2 p {
    font-size: 11px;

}
.col-md-2 a{
    text-decoration: none;
    color: white;

}
.footer .col-md-2 {
    margin-left: 25px;
    margin-right: -50px;

}